html, body{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* General Styles */
#body {
  font-family: Arial, sans-serif;
  background-color: #000000;
}

main{
  flex: 1;
}

/* Header Styles */
#backimage {
  background-color: #343a40; /* Dark background for header */
  color: white;
  padding: 20px 0;
}

#logo h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#home a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

#home a:hover {
  color: #ffc107; /* Yellow color on hover */
}

/* Search Bar Styles */
#search_bar {
  margin: 20px 0;
}

#search {
  max-width: 500px;
}
#film{
  cursor: pointer;
}

#films{
  cursor: pointer;
}

/* Footer Styles */
#footer {
  background-color: #000000;
  color: white;
  padding: 10px 0;
  margin-top: 20px;
}